---
import Layout from '../../layouts/Layout.astro';
const title = 'บทความจาก Headless WordPress';
const description = 'ตัวอย่างการนำบทความจาก Headless WordPress มาแสดง';
---

<Layout title={title} description={description}>
  <h1>บทความจาก Headless WordPress</h1>
  <p>เร็วๆ นี้</p>
</Layout>
