---
import { Icon } from 'astro-iconify';
---

<footer id='foot' class='text-center'>
  <div class='th-container'>© 2023. All Rights Reserved.</div>
</footer>

<style>
  footer {
    background: var(--th-foot-bg);
    color: var(--th-foot-text);
    padding: var(--th-gap);
    margin-top: auto;
    font-size: 0.75em;
  }
  a {
    color: var(--th-foot-text);
  }
  a:hover {
    opacity: 0.8;
  }
</style>
