@font-face {
  font-family: 'cs-chatthai-ui';
  src: url('cschatthaiui.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'cs-chatthai-ui';
  src: url('cschatthaiui-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'cs-chatthai-ui';
  src: url('cschatthaiui-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
